


<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <!-- <script src="echarts/extension/bmap"  type="module"></script> -->
        <!-- <script type="text/javascript" src="./light-chart.js"></script> -->
    </head>
    <body> 
        <style>
            #map, #area, #bar, #candle, #histogram
            {
                width: 400;
                height: 300;
            }
        </style>
        <div id="line">Line</div>
        <br/>
        <div id="area">Area</div>
        <br/>
        <div id="bar">Bar</div>
        <br/>
        <div id="candle">Candle</div>
        <br/>
        <div id="histogram">Histogram</div>
        
    </body>
    <script type="text/javascript" src="static/js/light-chart.js">
        

    </script>
</html>
