<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="viggo" />
    <title>Daniel</title>
    <meta name="keywords" content="投资">
    <meta name="description" content="投资有风险，入市需谨慎">

    <link rel="shortcut icon" href="static/images/favicon.png">

    <link rel="stylesheet" href="static/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="static/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/xenon-core.css">
    <link rel="stylesheet" href="static/css/xenon-components.css">
    <link rel="stylesheet" href="static/css/xenon-skins.css">
    <link rel="stylesheet" href="static/css/nav.css">
    <script src="static/js/jquery-1.11.1.min.js"></script>
</head>

<body class="page-body">

    <div class="page-container">
        <div class="sidebar-menu toggle-others fixed">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo" style="text-align: center">
                        <img src="static/images/logos/tarzan.jpg" class="img-circle" width="40">
                    </div>
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="#" data-toggle="user-info-menu">
                            <i class="linecons-cog"></i>
                        </a>
                        <a href="#" data-toggle="mobile-menu">
                            <i class="fa-bars"></i>
                        </a>
                    </div>
                </header>

                <ul id="main-menu" class="main-menu">
                    <li>
                        <a href="#常用推荐" class="smooth">
                            <i class="linecons-star"></i>
                            <span class="title">关注</span>
                        </a>
                    </li>

                    <li>
                        <a href="#社区资讯" class="smooth">
                            <i class="linecons-doc"></i>
                            <span class="title">社区资讯</span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="linecons-lightbulb"></i>
                            <span class="title">灵感采集</span>
                        </a>
                        <ul>
                            <li>
                                <a href="#发现产品" class="smooth">
                                    <span class="title">发现产品</span>
                                </a>
                            </li>
                            <li>
                                <a href="#界面灵感" class="smooth">
                                    <span class="title">界面灵感</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="hidden-sm hidden-xs">
                        <a href="#" data-toggle="sidebar">
                            <i class="fa-bars"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="main-content"></div>
    </div>

    <!-- 锚点平滑移动 -->
   

    <!-- Bottom Scripts -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/TweenMax.min.js"></script>
    <script src="static/js/resizeable.js"></script>
    <script src="static/js/joinable.js"></script>
    <script src="static/js/xenon-api.js"></script>
    <script src="static/js/xenon-toggles.js"></script>
    <!-- JavaScripts initializations and stuff -->
    <script src="static/js/xenon-custom.js"></script>

 <script type="text/javascript">
    setup_horizontal_menu();
    setup_sidebar_menu();
    </script>
</body>

</html>
